@tailwind base;
@tailwind components;
@tailwind utilities;

.navbar{
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr 0.5fr;
  cursor: pointer;
  
}
.Btn button{
  margin-right: 20px;
}




